doctype html
html
  head
    meta(charset="utf-8")
    title Lenas Uhr
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/clock.css")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/clock.js")
    script(src="/clock/coolclock.js")
    script(src="/clock/moreskins.js")
    //- script(src="/reload/reload.js")

  body
    block content
