/**
 * clock.less
 */
body {
  background-color: black;
  color: white;
  /*border: solid 1px #EEE;*/
  width: 320px;
  height: 240px;
  position: relative;
}
#menu {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}
#menu button {
  float: right;
  padding: 8px 10px;
  background-color: #000;
  color: #FFF;
  border: none;
}
#menu ul {
  display: none;
  float: left;
  padding: 0;
  list-style-type: none;
  background-color: #EEE;
}
#menu li {
  float: left;
}
#menu li a {
  padding: 8px 10px;
  display: block;
}
#clockid {
  margin: 10px 35px;
}
#time {
  position: absolute;
  top: 0;
  left: 4px;
}
#message {
  position: absolute;
  bottom: 4px;
  left: 4px;
}

a, a:visited, a:active {
  color: red;
}

a.active {
  background-color: #CCC;
}

section.hidden {
  display: none;
}

form {
  font-size: 3em;
  padding: 0 30px;
}

input[type="number"] {
  width: 2em;
}

.row {
  margin-left: 20px;
  margin-right: 70px;
}

a.color {
  display: block;
  border: solid 2px gray;
  border-radius: 10px;
  margin-top: 20px;
  width: 49px;
  height: 49px;
}

.color.blue {
  background-color: blue;
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.yellow {
  background-color: yellow;
}

.color.pink {
  background-color: #ff00ff;
}

.color.white {
  background-color: white;
}

.color.black {
  background-color: black;
}

.music {
  font-size: 2em;
}
